

	<% _.each(model, function(post) { %>
		<div class="postBody">
			<h3><%- post.title %></h3>
			<h5 class="postDetails"><%-post.createdAt %></h5> 
			<p><%- post.content %></p>
			<% if (req.session.admin) { %>
					<a href="/post/update?id=<%-post.id%>">edit</a>
					<a href="/post/delete?id=<%-post.id%>">delete</a>
			<%} %>
		</div>
		<br />
	<% }) %>
	<% console.log(req.session); %>
<% if (!req.session.admin) { %>
	<button id="loginButton" class="btn btn-xs btn-info">Login</button>
<% } %>
<form id="loginForm" style="display: none ">
	<div class="form-group">
		<input id="usernameInput" type="text" class="form-control" placeholder="Username" />
	</div>
	<div class="form-group">
		<input id="passwordInput" type="password" class="form-control" placeholder="Password" />
	</div>
	<div class="form-group">
		<button id="loginSubmitButton" class="btn btn-xs btn-info">Submit</button>
	</div>
</form>


<script>
	$("#loginButton").click(function () {
		$("#loginForm").show("fade");
	});

	$("#loginForm").submit(function(event) {
		event.preventDefault();

		var username = $("#usernameInput").val();
		var password = $("#passwordInput").val();

		if (username && password) {
			$.post(
				'/login',
				{username: username, password: password},
				function() {
					window.location = '/';
					console.log(username);
				}
			).fail(function(res) {
				alert("Error: " + res.getResponseHeader("error"));
			});
		} else {
			alert("A username and password is required");
		}
	});
</script>